body{
    background-color: rgb(49, 45, 114);
}
h1{
    text-align: center;
    color: rgb(3, 0, 0);
}

.partido {
    text-align: center;
    color: rgb(3, 0, 0);
    font-size: 40px;
    font-style: bold;
}

.resultado{
    text-align: center;
    color: rgb(3, 0, 0);
    font-size: 40px;
    font-style: bold;
}

.ganador{    
    text-align: center;
    color: rgb(3, 0, 0);
    font-size: 40px;
    font-style: bold;}

.goles{
    text-align: center;
    color: rgb(3, 0, 0);
    font-size: 40px;
    font-style: bold;}

.historial{
    text-align: center;
    color: rgb(3, 0, 0);
    font-size: 40px;
    font-style: bold;
}